.blue{
   color: skyblue;
}

.pink{
  color:rgb(255, 192, 203);
}
html{
font-size: 20px;
text-align: center;
}
h1{
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 1.2em;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
}

#basic p {
 font-weight: bold;
} 